.auto_add_table_box {
    border:1px solid #B49A6A;
    text-align: left;
}

.auto_add_table_box p{
    margin: 15px 0 15px 25px;
    font-size: 1.3em;  
}

.auto_add_table_box input{
    margin-left: 25px;
    margin-bottom: 15px;   
}

#change_equipment_box {
    font-size: 1.3em;
    padding: 10px 0 10px 15px;
    color: #000;
    border:1px solid #B49A6A;
}

.add_detail {
    margin-top: 15px;
}

.add_detail label{
    margin-left: 15px;
}

.add_detail input[type = 'text'] {
    margin-left: 10px;
}

select {
    width: 150px;
    height: 20px;
    font-size: 1em;
}

input[type="text"] {
    width: 150px;
    height: 20px;
    font-size: 1em;
}

#application_form_box p{
    font-size: 1em;
}

.form-admin-add-wrp {
    border:1px solid #B49A6A;
    padding: 15px 0;  
    margin-top: 15px;  
}

.form-admin-add-wrp label {
    margin-left: 25px;
}

.form-admin-add-wrp input[type='text'], .form-admin-add-wrp input[type='file'], .form-admin-add-wrp select {
    margin: 0  0 20px 20px;
}

.form-admin-add-wrp input[type='submit'] {
    margin-left: 285px;
}
.form-admin-add-wrp input[name="rus"] {
    width: 480px;    
}









  