* {
	margin: 0;
	padding: 0;
}

body
{
	font:76% Verdana, Helvetica, Tahoma, Arial, sans-serif;
	background-color:#999;
	color:#494949;
}

.conteiner
{
	margin: 10px auto;
	padding:5px 5px 5px 5px;
	width:950px;
	height: 100%;
	background-color:#ffffff;
	border:solid 2px #666;
}

.topnav 
{
    height:40px;
	width:100%;
	background-color: #B49A6A;
	position: relative;
	margin-bottom: 15px;
}

.topnav ul li
{
	display: inline;
	list-style-type: none;
	padding-left: 20px;
}

.topnav li a {
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
    line-height: 40px;
}

.topnav a:hover {
	color: #000;
}

.current-item-topnav {
	color: #000 !important;	
}

.search-code {
    position: absolute;
    right: 15px;
    top: 7px;    
}

.search-code input[type="text"] {
    width:  250px;
    height: 24px;
    font-size: 16px;
    padding-left: 5px;
    margin-right: 15px;
}

.search-code input[type="submit"] {
    padding: 2px 15px;    
}

.content-wp {
	padding: 5px;
}

.content-wp:after {
	content: "";
	display: block;
	clear: both;
}

.content
{
	margin: 0 30% 0 0;
}

.content h2
{
	padding:5px 0 5px 10px;
	background-color:#D9CCB4;
	font-family: "Century Gothic", Arial, Helvetica, Tahoma, sans-serif;
	border:1px solid #B49A6A;
	text-align: left;
	color:#000000;
	font-size: 1.4em;
}

.content table 
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 25px; 
}

.content table td,  .content table th
{
	border: 1px solid #B49A6A;
	height: 30px;
	padding-left: 5px; 
	font-size: 1.2em;
}

#field-code {
	text-align: center;
	width: 250px;
}

/*.content a
{
	background-color:inherit;
	text-decoration: none;
	color: #000066;
}

.content a:hover
{
	background-color:inherit;
	text-decoration: underline;
	color: #000066;
}*/

.content a:hover {
    color: red;
}

.right-sidebar
{
	width:28%;
	float:right;
	background-color: #ffffff;
	border:1px solid #B49A6A;
	height: 200px;
}

.right-sidebar h3
{
	border-bottom:1px solid #B49A6A;
	padding: 5px 5px 5px 10px;
	background-color:#D9CCB4;
	font-family: "Century Gothic", Arial, Helvetica, Tahoma, sans-serif;
	text-align: left;
	color:#000000;
	font-size: 1.4em;
}

.right-sidebar ul 
{
	margin: 15px 0 10px 25px;
}

.right-sidebar ul li
{
	list-style-type: square;
	padding-bottom: 5px;
}

.right-sidebar ul li a
{
	background-color:inherit;
	text-decoration: underline;
	color: #000066;
	font-size: 1.0em;
}

.right-sidebar ul li a:hover
{
	background-color:inherit;
	color: #666;
}

.footer
{
	padding:5px 0 5px 10px;
	background-color:#B49A6A;
	text-align: center;
	color: #000;
	font-size: 1.0em;
}

/*-------------admin-page---------------*/

.form-wrp {
    margin: 40px;
    width: 650px;
    height: 600px;
    border: 1px solid #000;
    text-align: right;
    padding-right: 200px 
}

.input-wrp {
    padding: 15px 0 15px;
    border: 1px solid #000;
    margin: 20px;
    width: 560px;
    font-size: 15px;
}


#form-drawing input[type="submit"] {
    margin-right: 272px;
    padding: 5px 30px;
    cursor: pointer;
}

#form-drawing input[type="text"] {
    width: 190px;
    height: 20px;
    margin-right: 190px;
}

#form-drawing input[name="rus"],  #form-drawing input[name="eng"] {
    width: 379px;
    height: 20px;
    margin-right: 15px !important;
}

#form-drawing select {
    width: 190px;
    height: 25px;
    margin-right: 190px;
}

















