* {
	margin: 0;
	padding: 0;
}

body
{
	font:76% Verdana, Helvetica, Tahoma, Arial, sans-serif;
	background-color:#999;
	color:#494949;
}

.conteiner
{
	margin: 10px auto;
	padding: 5px 5px 5px 5px;
	width: 950px;
	height: 100%;
	background-color: #fff;
	border: solid 1px #666;
}

.author-site {
    text-align: center;
    font-size: 0.9em;
    color: #000;
    margin-top: -10px;
}


.draw-not-found {
    padding: 15px 0 20px 10px;
    font-size: 15px;
    border: 1px solid red;
    margin-top: 16px;
    color: #000;
    background: #D8B4B4;
}

.content-wp {
	padding: 5px;
    min-height: 510px;
}

.content-wp:after {
	content: "";
	display: block;
	clear: both;
}

.content
{
	margin: 0 30% 0 0;
}

.content .info-menu-box    {
	padding:5px 0 5px 10px;
	font-family: "Century Gothic", Arial, Helvetica, Tahoma, sans-serif;
	border:1px solid #B49A6A;
	text-align: left;
	font-size: 1.3em;
    position: relative;
}

.info-menu-box:first-letter {
    text-transform: uppercase;
}

.content .info-menu-box span {
    color: green;
    font-style: italic;
}

#history-back-link {
    position: absolute;
    right: 10px;
    font-size: 0.9em;
}

#employee_data_box td, #employee_data_box th {
    height: 16px;
    width: 50%;
    padding: 5px;
}

.content table {
	width: 100%;
	border-collapse: collapse;
	margin: 15px 0 15px; 
}

.content table tr:first-child {
    background:#D9CCB4;
	/*font-family: "Century Gothic", Arial, Helvetica, Tahoma, sans-serif;*/
}

.content table td,  .content table th {
	border: 1px solid #B49A6A;
	/*height: 30px;*/ 
}

/*.content table td:nth-child(3) {
    text-align: center;
    padding: 0;
}*/

.content table input[type="radio"] {
    margin: 8px;   
}

.content table input[type="text"] {
    width: 350px;
    height: 16px;
    font-size: 1em;
}

.detail-drawings {
    text-align: center;
}

.draw-view-info-box {
    padding:5px 0 5px 10px;
	background-color:#D9CCB4;
	font-family: "Century Gothic", Arial, Helvetica, Tahoma, sans-serif;
	border:1px solid #B49A6A;
	text-align: left;
	color:#000;
	font-size: 1.4em;   
}

.draw-view-info-box a {
    margin-right: 15px;
    color: #000;
    text-decoration: none;      
}

.draw-view-info-box a:hover {
    text-decoration: underline;
    color: blue;
}

.content a:hover {
    color: red;
}

/* right sidebar menu */

.right-sidebar
{
	width:28%;
	float:right;
	background-color: #fff;
	height: 200px;
}

.right-sidebar-header {
	border:1px solid #B49A6A;
	background-color:#D9CCB4;
    margin-bottom: 15px;
    font-size: 1.2em;
}
/*sidebar content*/
.sidebar-content-default li {
    font-size: 1.2em; 
    text-decoration: underline;
    cursor: pointer; 
    color: #3400F0;      
}
.sidebar-content-default li:hover {
    color: red;
}

.active-item-menu-sidebar {
    color: green !important;
    cursor: default !important;
    text-decoration: none !important;
}

.right-sidebar-header ul {
    margin: 5px 0 5px 25px;
    list-style-type: square;
    
}

.right-sidebar-header ul li:hover {
    cursor: pointer;
    text-decoration: underline;   
}


.right-sidebar .sidebar-content-wrp {
    border:1px solid #B49A6A; 
    min-height: 150px;   
}

.sidebar-content-wrp select {
    width: 200px;
    height: 24px;       
}

.sidebar-content-wrp ul  {
	margin: 15px 0 10px 25px;
}

.sidebar-content-wrp ul li {
	list-style-type: square;
	padding-bottom: 5px;
}

.sidebar-content-wrp ul li a {
	font-size: 1.2em;
}

#sidebar-glossary a {
    font-size: 1em;
}

.sidebar-content-wrp ul li a:hover {
	color: red;
}

/* sidebar menu action box */
#menu_action_box li, #menu_elect_box li{
    font-size: 1.2em; 
    text-decoration: underline;
    cursor: pointer; 
    color: #3400F0;  
}

#menu_action_box li:hover, #menu_elect_box li:hover {
    color: red;
}

.footer
{
	padding:5px 0 5px 10px;
	background-color: #D9CCB4;
    border:1px solid #B49A6A;
	text-align: center;
	color: #000;
	font-size: 1.0em;
}

/*-------------admin-page---------------*/

.form-wrp {
    margin: 40px;
    width: 650px;
    height: 600px;
    border: 1px solid #000;
    text-align: right;
    padding-right: 200px 
}

.input-wrp {
    padding: 15px 0 15px;
    border: 1px solid #000;
    margin: 20px;
    width: 560px;
    font-size: 15px;
}


#form-drawing input[type="submit"] {
    margin-right: 272px;
    padding: 5px 30px;
    cursor: pointer;
}

#form-drawing input[type="text"] {
    width: 190px;
    height: 20px;
    margin-right: 190px;
}

#form-drawing input[name="rus"],  #form-drawing input[name="eng"] {
    width: 379px;
    height: 20px;
    margin-right: 15px !important;
}

#form-drawing select {
    width: 190px;
    height: 25px;
    margin-right: 190px;
}
















